<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书馆</title>
</head>
<body>

<table border="3">
    <tr>
        <th>序号</th>
        <th>书名</th>
        <th>出版社</th>
        <th>价格</th>
        <th>建议市场价</th>
        <th>操作</th>
    </tr>
    {% block data %}
    {% for book in all_book %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.pub }}</td>
            <td>{{ book.price }}</td>
            <td>{{ book.market_price }}</td>
            <td>
                <a href="/bookstore/update_book/{{ book.id }}">更新</a>
                <a href="/bookstore/delete_book?b_id={{ book.id }}">删除</a>
            </td>
        </tr>
    {% endfor %}
    {% endblock %}
</table>

</body>
</html>